In [1]:
# 1
tuple1=(10,20,30)
print(tuple1)
tuple2=(40,50,60)
print(tuple2)

(10, 20, 30)
(40, 50, 60)

In [3]:
# 1.a
t_combine=tuple1+tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [5]:
# 1.b
repeat3=t_combine*3
print(repeat3)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [7]:
# 1.c
print(t_combine[2])

30

In [9]:
# 1.d
print(t_combine[0:3])

(10, 20, 30)

In [55]:
# 1.e
print(t_combine[-3:])
print(t_combine[3:])

(40, 50, 60)
(40, 50, 60)

In [83]:
# 2.a,b,c
my_list=[(1,2,3),("a","b","c"),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [85]:
# 3
new_tuple=(1,'a',True)
my_list.append(new_tuple)
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [91]:
# 3.a
new_list=["Sparta",123]
my_list.append(new_list)
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['Sparta', 123]]

In [127]:
# 4.a,b
fruit={'Fruit':("Apple","Banana","Mango","Guava"),'Cost':(85,54,120,70)}
print(fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [129]:
# 4.c,d
print(fruit.keys())
print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [131]:
print(fruit.get('Fruit'))
print(fruit.get('Cost'))

('Apple', 'Banana', 'Mango', 'Guava')
(85, 54, 120, 70)

In [133]:
# 5
my_set={1,1,"a","a",True,True} # Boolean values (True and False) are treated as integers (1 and 0) in Python.
print(my_set) # True is equivalent to 1, and False is equivalent to 0.Since 1 is already in the set, True is not added as a separate element.

{1, 'a'}